{% extends "dashboard_layout.html" %}
<!-- Template inheritance -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dashboard_css/dashboard_form.css') }}">
{% endblock %}

<!-- Nav link block -->
{% block dashboardNavLink %}
  <li><a href="{{ url_for('dashboard_main') }}"> <i class="icon-home"></i>Home </a></li>
  <li class="active"><a href="{{ url_for('dashboard_psychoTest') }}"> <i class="icon-padnote"></i>Psycho Test </a></li>
  <li><a href="{{ url_for('dashboard_academics') }}"><i class="fa fa-bar-chart"></i>Academics </a></li>
  <li><a href="{{ url_for('dashboard_carrer') }}"><i class="fa fa-bar-chart"></i>Carrer </a></li>
  <li><a href="{{ url_for('dashboard_community') }}"> <i class="icon-padnote"></i>Community </a></li>
  <li ><a href="{{ url_for('dashboard_profile') }}"> <i class="icon-user"></i>Profile </a></li>
{% endblock %}


{% block content %}

<div class="page-content">
  <div class="page-header no-margin-bottom">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Psycho Test</h2>
    </div>
  </div>
<!-- Breadcrumb-->
<div class="container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
    <li class="breadcrumb-item active">Psycho Test</li>
  </ul
</div>

<!-- Body Section -->
<section class="no-padding-top">
 <div class="container-fluid">
   <div class="row">
<!-- Question 1 -->
      <div class="col-lg-12">
        <div class="block">
         <div class="block-body">
          <form>
            <div class="form-group">
              <div class="title"><strong class="d-block">Question 1</strong></div>
              <div class="title"><strong class="d-block">I like to work on cars</strong></div>
              <div class="form-group row">
              <div class="col-sm-9">
               <div class="i-checks-inline" >
                <input id="radioCustom1" type="radio" value="option1" name="a" class="radio-template">
                <label for="radioCustom1">Strongly Disagree</label>
              </div>
              <div class="i-checks-inline radio-inline">
               <input id="radioCustom2" type="radio" checked="" value="option2" name="a" class="radio-template">
               <label for="radioCustom2">Slightly Disagree</label>
              </div>
              <div class="i-checks-inline radio-inline">
                <input id="radioCustom3" type="radio" checked="" value="option3" name="a" class="radio-template">
                <label for="radioCustom3">Neutral</label>
              </div>
              <div class="i-checks-inline radio-inline">
                                    <input id="radioCustom4" type="radio" checked="" value="option4" name="a" class="radio-template">
                                    <label for="radioCustom4">Slightly Enjoy</label>
                                  </div>
                                  <div class="i-checks-inline radio-inline">
                                    <input id="radioCustom5" type="radio" checked="" value="option5" name="a" class="radio-template">
                                    <label for="radioCustom5">Enjoy </label>
                                  </div>
                                </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- Question 1 End-->

                      <!-- Question 2 -->
                      <div class="col-lg-12">
                        <div class="block">
                          <div class="block-body">
                            <form>
                              <div class="form-group">
                                <div class="title"><strong class="d-block">Question 2</strong></div>
                                <div class="title"><strong class="d-block">I like to do puzzles</strong></div>
                                <div class="form-group row">
                                <div class="col-sm-9">
                                  <div class="i-checks-inline">
                                    <input id="radioCustom1" type="radio" value="option1" name="a" class="radio-template">
                                    <label for="radioCustom1">Strongly Disagree</label>
                                  </div>
                                  <div class="i-checks-inline">
                                    <input id="radioCustom2" type="radio" checked="" value="option2" name="a" class="radio-template">
                                    <label for="radioCustom2">Slightly Disagree</label>
                                  </div>
                                  <div class="i-checks-inline">
                                    <input id="radioCustom3" type="radio" checked="" value="option3" name="a" class="radio-template">
                                    <label for="radioCustom3">Neutral</label>
                                  </div>
                                  <div class="i-checks-inline">
                                    <input id="radioCustom4" type="radio" checked="" value="option4" name="a" class="radio-template">
                                    <label for="radioCustom4">Slightly Enjoy</label>
                                  </div>
                                  <div class="i-checks-inline">
                                    <input id="radioCustom5" type="radio" checked="" value="option5" name="a" class="radio-template">
                                    <label for="radioCustom5">Enjoy </label>
                                  </div>
                                </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- Question 2 End-->

                      <!-- Submit Button -->
                      <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary">
                      </div>
                      <!-- Submit Button End-->
                    </div>
                  </div>
                </section>
                </div>
{% endblock %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
