{% extends "home_layout.html" %}
<!-- Template inheritance -->


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/courses.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/cards.css') }}">

{% endblock stylesheets %}


<!-- Nav link block -->
{% block homNavLink %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
<li class="nav-item active "><a class="nav-link" href="{{ url_for('departments') }}">Course</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('news') }}">News</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('community') }}">Community</a></li>
{% endblock %}

<!-- Template inheritance -->
{% block content %}
 <!-- Page Content -->
 <div class="container">
  <!-- Page Heading -->
  <h1 class="font-weight-bold mb-4">Department</h1>
  <div class="row">
    {% for dept in departments %}
    <div class="col-lg-4 mb-4">
        <div class="hover hover-1 text-white rounded">
          <img src="{{ dept.dep_url }}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-1-content px-5 py-4">
            <h3 class="hover-1-title text-uppercase font-weight-light  card-title mb-0">
              <a href="{{ url_for('course', departments=dept.Department) }}", style="text-decoration: none;">{{ dept.Department }}</a>
            </h3>
            <p class="hover-1-description font-weight-light mb-0"></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
