{% extends "layout.html" %}
<!-- Template inheritance -->

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/login-registration.css') }}">

{% endblock stylesheets %}


{% block content %}

<!-- Registration Section -->
<div class="content-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
      <img src="{{ url_for('static', filename='./assets/images/Brain.png') }}" class="img-fluid" alt="Responsive image">
    </div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
               <form class="form-label-group" method="POST" action="">
                   {{ form.hidden_tag() }}
                     <h3 class="login-heading mb-4">Welcome</h3>
                     <div class="form-label-group"> <!-- Name -->
                         {% if form.name.errors %}
                             {{ form.name(class="form-control is-invalid") }}
                             <div class="invalid-feedback">
                                 {% for error in form.name.errors %}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                         {% else %}
                             {{ form.name(class="form-control", placeholder="Name") }}
                             {{ form.name.label() }}

                         {% endif %}
                     </div>
                     <div class="form-label-group"> <!-- Mobile -->
                         {% if form.mobile.errors %}
                             {{ form.mobile(class="form-control is-invalid") }}
                             <div class="invalid-feedback">
                                 {% for error in form.mobile.errors %}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                         {% else %}
                             {{ form.mobile(class="form-control", placeholder="Mobile") }}
                             {{ form.mobile.label() }}
                         {% endif %}
                     </div>
                       <div class="form-label-group"> <!-- Email -->
                           {% if form.email.errors %}
                               {{ form.email(class="form-control is-invalid") }}
                               <div class="invalid-feedback">
                                   {% for error in form.email.errors %}
                                       <span>{{ error }}</span>
                                   {% endfor %}
                               </div>
                           {% else %}
                               {{ form.email(class="form-control", placeholder="Email address") }}
                               {{ form.email.label() }}

                           {% endif %}
                       </div>
                       <div class="form-label-group"> <!-- Password -->
                           {% if form.password.errors %}
                               {{ form.password(class="form-control is-invalid") }}
                               <div class="invalid-feedback">
                                   {% for error in form.password.errors %}
                                       <span>{{ error }}</span>
                                   {% endfor %}
                               </div>
                           {% else %}
                               {{ form.password(class="form-control", placeholder="Password") }}
                               {{ form.password.label() }}

                           {% endif %}
                       </div>
                       <div class="form-label-group"> <!-- Confirm Password -->
                           {% if form.confirm_password.errors %}
                               {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                               <div class="invalid-feedback">
                                   {% for error in form.confirm_password.errors %}
                                       <span>{{ error }}</span>
                                   {% endfor %}
                               </div>
                           {% else %}
                               {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                               {{ form.confirm_password.label() }}

                           {% endif %}
                       </div>
                   <div class="form-group"> <!-- Button -->
                       {{ form.submit(class="btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2") }}
                   </div>
                   <div class="border-top pt-3">
                       <small class="text-muted">
                           Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
                       </small>
                   </div>
               </form>
             </div>
            </div>
          </div
        </div>
      </div>
    </div>
 </div>


{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
