{% extends "layout.html" %}
<!-- Template inheritance -->
{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/login.css') }}">

{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <form class="form-label-group" method="POST" action="">
                  {{ form.hidden_tag() }}
                    <h3 class="login-heading mb-4">Welcome Back!!</h3>
                  <div class="form-label-group"> <!-- Email -->
                      {% if form.email.errors %}
                          {{ form.email(class="form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.email(class="form-control", placeholder="eEmail") }}
                          {{ form.email.label() }}

                      {% endif %}
                  </div>
                  <div class="form-label-group"> <!-- Password -->
                      {% if form.password.errors %}
                          {{ form.password(class="form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.password.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.password(class="form-control", placeholder="Password") }}
                          {{ form.password.label() }}

                      {% endif %}
                  </div>
                  <div class="form-check"> <!-- Remember Me -->
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                  </div>
                  <div class="form-group"> <!-- Button -->
                      {{ form.submit(class="btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2") }}
                  </div>
                  <small class="text-muted ml-2">  <!-- Forgot Password -->
                    <a href="#">Forgot Password?</a>
                  </small>
                  <div class="border-top pt-3">
                    <small class="text-muted">
                        New to us? <a class="ml-2" href="{{ url_for('registration') }}">Sign UP</a>
                    </small>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
